{{ $config := .Config }}
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: ingress-gw
  namespace: istio-system
  labels:
    seed: "{{ $config.Seed }}"
spec:
  hosts:
    - "{{- $config.Hostname }}"
  gateways:
  - istio-ingressgateway
  http:
{{- range $namespace,$microservices := .Microservices}}
{{- range $microservice := $microservices}}
{{- if $microservice.TopTier}}
  - name: "{{ $microservice.Namespace }}"
    match:
    - uri:
        prefix: "/{{ $microservice.Namespace }}"
    route:
    - destination:
        host: {{ $microservice.Name }}.{{ $microservice.Namespace }}.svc.cluster.local
        port:
          number: 8080
{{- end }}
{{- end }}
{{- end }}
---
