---

name: Build
on: [push]

jobs:
  build:
    env:
      GO111MODULE: "on"
    name: Build Application
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Get dependencies
        run: |
          go get -v -t ./...

#      - name: Unit Test
#        run: |
#          go test -v ./...

      - name: Build
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o bin/linux/amd64/app-gen
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o bin/linux/arm64/app-gen
          CGO_ENABLED=0 GOOS=linux GOARCH=arm GOARM=6 go build -o bin/linux/arm6/app-gen
          CGO_ENABLED=0 GOOS=linux GOARCH=arm GOARM=7 go build -o bin/linux/arm7/app-gen
          CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o bin/darwin/amd64/app-gen
          CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -o bin/darwin/arm64/app-gen
          CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o bin/windows/app-gen.exe

      - uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: |
            ./bin

  release:
    name: Release Application
    needs: build
    runs-on: ubuntu-latest
    if: contains(github.ref, 'v')
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: binaries
          path: bin

      - name: Zip binaries
        run: |
          zip -j app_gen_linux_amd64.zip ./bin/linux/amd64/app-gen
          zip -j app_gen_linux_arm64.zip ./bin/linux/arm64/app-gen
          zip -j app_gen_linux_arm6.zip ./bin/linux/arm6/app-gen
          zip -j app_gen_linux_arm7.zip ./bin/linux/arm7/app-gen
          zip -j app_gen_darwin_amd64.zip ./bin/darwin/amd64/app-gen
          zip -j app_gen_darwin_arm64.zip ./bin/darwin/arm64/app-gen
          zip -j app_gen_windows_amd64.zip ./bin/windows/app-gen.exe

      - name: Create Release
        id: create_release
        if: contains(github.ref, 'v')
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release Asset Linux Amd64
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_linux_amd64.zip
          asset_name: app_gen_linux_amd64.zip
          asset_content_type: application/zip

      - name: Upload Release Asset Linux Arm6
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_linux_arm6.zip
          asset_name: app_gen_linux_arm6.zip
          asset_content_type: application/zip

      - name: Upload Release Asset Linux Arm7
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_linux_arm7.zip
          asset_name: app_gen_linux_arm7.zip
          asset_content_type: application/zip
      
      - name: Upload Release Asset Linux Arm64
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_linux_arm64.zip
          asset_name: app_gen_linux_arm64.zip
          asset_content_type: application/zip
      
      - name: Upload Release Asset Darwin Amd64
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_darwin_amd64.zip
          asset_name: app_gen_darwin_amd64.zip
          asset_content_type: application/zip
      
      - name: Upload Release Asset Darwin Arm64
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_darwin_arm64.zip
          asset_name: app_gen_darwin_arm64.zip
          asset_content_type: application/zip

      - name: Upload Release Asset Windows Amd64
        if: contains(github.ref, 'v')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./app_gen_windows_amd64.zip
          asset_name: app_gen_windows_amd64.zip
          asset_content_type: application/zip
